@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

/*Navbar small and normal*/
body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', 'Helvetica';
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #23232380;
    backdrop-filter: blur(10px);
    height: 50px;
    width: 100%;
    position: fixed;
}

#logo_navbar {
    margin-top: -10px;
    margin-left: 10px;
    height: 50px;
    float: left;
    transition: 200ms ease-in-out;
}

#logo_navbar:hover {
    filter: 
    drop-shadow(0 0 3px #ffffff80)
    drop-shadow(0 5px 10px #3eee59);
}

.navbar a {
    transition: 200ms ease-in-out;
}

.navbar_item {
    font-size: 1em;
    float: right;
    text-decoration: none;
    color: white;
}

#home {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.404), 0 0 10px rgba(255, 255, 255, 0.404), 0 0 14px rgba(255, 255, 255, 0.607), 0 5px 17px rgba(255, 255, 255, 0.574), 0 7px 20px rgba(255, 255, 255, 0.404);
    transition: 200ms ease-in-out;
}

#home:hover {
    text-shadow: 0 0 3px #ffffff, 0 0 5px #3bcf51, 0 0 7px #2dac40, 0 0 10px #3ef85a, 0 0 14px #48f362, 0 7px 17px #5af872, 0 10px 20px #3eee59;
}

/*Different for small and normal*/
.navbar a {
    padding: 3px 6px;
    text-decoration: none;
    display: block;
}

.navbar button {
    transition: 200ms ease-in-out;
}

.navbar a:hover {
    text-shadow: 0 0 3px #ffffff, 0 0 5px #3bcf51, 0 0 7px #2dac40, 0 0 10px #3ef85a, 0 0 14px #48f362, 0 0 17px #5af872, 0 0 20px #3eee59;
}

.dropdown_button {
    margin-right: 30px;
    background-color: inherit;
    border: inherit;
    color:white;
    font-size: 30px;
    cursor: pointer;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.404), 0 0 7px rgba(255, 255, 255, 0.404), 0 0 8px rgba(255, 255, 255, 0.607), 0 3px 9px rgba(255, 255, 255, 0.574), 0 3px 10px rgba(255, 255, 255, 0.404);
}

.dropdown_button:hover {
    text-shadow: 0 0 3px #ffffff, 0 0 5px #3bcf51, 0 0 7px #2dac40, 0 0 10px #3ef85a, 0 0 14px #48f362, 0 0 17px #5af872, 0 0 20px #3eee59;

}

.navbar_item_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: #232323;
    z-index: 1;
    height: 50px;
    width: 100%;
    margin-top: -90px;
    transition: margin-top 200ms ease-in-out;
}

.show {
    margin-top: 0;
}

@media only screen and (max-width: 450px) {
    .navbar_item {
        font-size: 0.75em;
    }
}